.form-label{
    width: 100%;
    padding: 0 5px;
}
.form-control{
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 15px;
    color: hsl(0, 0%, 10%);
    box-sizing: border-box;
}
.list-search-container{
    color: white;
    border-radius: 10px;
    background-color: #4c94ff;
    padding: 15px 10px;
    margin: 20px;
    justify-items: center;
}
.list-search-container>*{
    padding: .5rem;

}
.list-card-container{
    margin: 20px 0;
}
.list-search-button{
    width: 50px;
    height: 50px;
    color: #0061FF;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4em;
    position: relative;
    top: 15px;
}